<div class="container p-4"> 
    <div class="row"> 
        <div class="col-md-3"> 
            <div class="card text-center"> 
                <div class="card-body"> 
                    <a href="/estudiantes"> 
                        <h5 class="card-title"> 
                            Mantenimiento estudiantes 
                        </h5> 
                    </a> 
                    <div class="mt-4"> 
                        <a href="/estudiantes" class="btn btn-success">Ir a 
mantenimiento</a> 
                    </div>      </div> 
            </div> 
        </div> 
        <div class="col-md-3"> 
            <div class="card text-center"> 
                <div class="card-body"> 
                    <a href="/carreras"> 
                        <h5 class="card-title"> 
                            Mantenimiento carreras 
                        </h5> 
                    </a> 
                    <div class="mt-4"> 
                        <a href="/carreras" class="btn btn-success">Ir a 
mantenimiento</a> 
                    </div> 
                </div> 
            </div> 
        </div> 
        <div class="col-md-3"> 
            <div class="card text-center"> 
                <div class="card-body"> 
                    <a href="/materias"> 
                        <h5 class="card-title"> 
                            Mantenimiento materias 
                        </h5> 
                    </a> 
                   <div class="mt-4"> 
                         <a href="/materias" class="btn btn-success">Ir a 
mantenimiento</a> 
                   </div> 
                </div> 
            </div> 
        </div> 
        <div class="col-md-3"> 
            <div class="card text-center"> 
                <div class="card-body"> 
                    <a href="/profesores"> 
                        <h5 class="card-title"> 
                            Mantenimiento profesores 
                        </h5> 
                    </a> 
                    <div class="mt-4"> 
                        <a href="/profesores" class="btn btn-success">Ir a 
mantenimiento</a> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div><div class="row mt-4"> 
        <div class="col-md-3"> 
            <div class="card text-center"> 
                <div class="card-body"> 
                    <a href="/grupos"> 
                        <h5 class="card-title"> 
                            Mantenimiento grupos 
                        </h5> 
                    </a> 
                    <div class="mt-4"> 
                        <a href="/grupos" class="btn btn-success">Ir a 
mantenimiento</a> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
</div>